name: release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write
  pages: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release-created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Release please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release

  inspector-publish:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: release-please
    if: ${{ needs.release-please.outputs.release-created }}
    steps:
      - uses: actions/checkout@v5
      - uses: shiron-dev/actions/setup-node@d4699e9172f57041901ee67621672f9b27383874 # v1.5.1
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run build
        run: pnpm run build:inspector
      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./.eslint-config-inspector --project-name=eslint-config

  npm-publish:
    needs: release-please
    if: ${{ needs.release-please.outputs.release-created }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment: Production
    steps:
      - uses: actions/checkout@v5
      - uses: shiron-dev/actions/setup-node@d4699e9172f57041901ee67621672f9b27383874 # v1.5.1
        with:
          registry-url: 'https://registry.npmjs.org'
      - name: Install package
        run: pnpm install --frozen-lockfile
      - name: Build package
        run: pnpm run build
      - name: Publish to npm
        run: |
          pnpm publish --provenance --access public
